<header class="navbar navbar-expand navbar-dark bd-navbar">

  <button class="navbar-toggler d-block d-sm-block d-x d-md-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand mr-0 mr-md-2 ml-3 ml-md-0 ml-sm-3" href="<%= ENV['BASE_URL'] %>" aria-label="Bootstrap">
    <svg id="Layer_1" data-name="Layer 1" width="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640.05 526.76"><title>code-solid-2</title><path d="M164.9,399.3l43.5-46.4a12,12,0,0,0-.8-17.2L117,256l90.6-79.7a11.92,11.92,0,0,0,.8-17.2l-43.5-46.4a12,12,0,0,0-17-.5L3.8,247.2a11.92,11.92,0,0,0,0,17.5L147.9,399.8a11.92,11.92,0,0,0,17-.5Zm327.2.6L636.2,264.8a11.92,11.92,0,0,0,0-17.5L492.1,112.1a12.11,12.11,0,0,0-17,.5L431.6,159a12,12,0,0,0,.8,17.2L523,256l-90.6,79.7a11.92,11.92,0,0,0-.8,17.2l43.5,46.4a12,12,0,0,0,17,.6ZM391.44-.37a8.37,8.37,0,0,0-13.63,5.14l-11.5,72.54-43,21.47L289.06,65.06l11.5-72.54a8.4,8.4,0,0,0-11.47-9.07,100.54,100.54,0,0,0-61.61,77.49c-6.13,38.67,11.28,75.62,41.17,97.16l-33,299.84c-3.87,24.38,9.85,47.16,34.23,51s50.19-10.64,54.05-35l33-301.67c35.18-11.13,63.06-40.9,69.23-79.82A100.54,100.54,0,0,0,391.44-.37ZM279,482.64A20.64,20.64,0,1,1,299.64,462,20.65,20.65,0,0,1,279,482.64Z" transform="translate(0.02 17.18)"/></svg>
    <div class="page-name">
      <span class="site-name-xxs">Code Utility</span><br class="d-xxs-none" />
      <span class="slogan d-xxs-none">Make your developer's life easier!</span>
    </div>
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav navbar-light">
      <li id="main-menu-li" class="nav-item dropdown megamenu-li dmenu" style="display: none;">
        <a class="nav-link dropdown-toggle d-none d-sm-none d-md-block" href="" style="padding: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg aria-hidden="true" width="35" focusable="false" data-prefix="fal" data-icon="grip-horizontal" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zM264 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zM104 96H24c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96H32v-64h64v64zm328 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zm-152-96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zm-152-96H24c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96H32v-64h64v64z" class=""></path></svg>
        </a>
        <div class="dropdown-menu megamenu sm-menu border-top">
          <div class="row">
            <div class="col-sm-6 col-lg-3 border-right mb-4">
              <h6>Beautifiers</h6>
              <a class="dropdown-item" href="<%= ENV['BEAUTIFY_CODE_URL'] %>"><i class="fas fa-code"></i> Beautify Code</a>
              <a class="dropdown-item" href="<%= ENV['BEAUTIFY_JSON_URL'] %>">&nbsp;<i class="far fa-file-code"></i>&nbsp; Beautify JSON</a>
              <a class="dropdown-item" href="<%= ENV['BEAUTIFY_JS_URL'] %>">&nbsp;<i class="far fa-file-code"></i>&nbsp; Beautify JavaScript</a>
              <a class="dropdown-item" href="<%= ENV['BEAUTIFY_HTML_URL'] %>">&nbsp;<i class="fab fa-html5"></i>&nbsp; Beautify HTML</a>
              <a class="dropdown-item" href="<%= ENV['BEAUTIFY_SQL_URL'] %>">&nbsp;<i class="fas fa-database"></i>&nbsp; Beautify SQL</a>
              <a class="dropdown-item" href="<%= ENV['ALIGN_HASH_URL'] %>">&nbsp;<i class="fas fa-indent"></i>&nbsp; Align Hash/Array</a>
            </div>
            <div class="col-sm-6 col-lg-3 border-right mb-4 even">
              <h6>Converters</h6>
              <a class="dropdown-item" href="<%= ENV['HTML2HAML_URL'] %>"><i class="fab fa-html5"></i>&nbsp; HTML+ERB to Haml</a>
              <a class="dropdown-item" href="<%= ENV['HTML2SLIM_URL'] %>"><i class="fab fa-html5"></i>&nbsp; HTML+ERB to Slim</a>
              <a class="dropdown-item" href="<%= ENV['HTML2JSX_URL'] %>"><i class="fab fa-html5"></i>&nbsp; HTML to JSX</a>
              <a class="dropdown-item" href="<%= ENV['HTML2PUG_URL'] %>"><i class="fab fa-html5"></i>&nbsp; HTML to Pug</a>
              <a class="dropdown-item" href="<%= ENV['CSS2SCSS_URL'] %>"><i class="fab fa-css3-alt"></i>&nbsp; CSS to SCSS/Sass</a>
              <a class="dropdown-item" href="<%= ENV['JSON2YAML_URL'] %>"><i class="far fa-file-code"></i>&nbsp; JSON to YAML</a>
            </div>
            <div class="col-sm-6 col-lg-3 border-right mb-4">
              <h6>Minifiers</h6>
              <a class="dropdown-item" href="<%= ENV['MINIFY_HTML_URL'] %>"><i class="fab fa-html5"></i>&nbsp; Minify HTML</a>
              <a class="dropdown-item" href="<%= ENV['MINIFY_JAVASCRIPT_URL'] %>"><i class="far fa-file-code"></i>&nbsp; Minify JavaScript</a>
              <a class="dropdown-item" href="<%= ENV['MINIFY_CSS_URL'] %>"><i class="fab fa-css3-alt"></i>&nbsp; Minify CSS</a>
              <a class="dropdown-item" href="<%= ENV['MINIFY_JSON_URL'] %>"><i class="far fa-file-code"></i>&nbsp; Minify JSON</a>
              <a class="dropdown-item" href="<%= ENV['MINIFY_SQL_URL'] %>"><i class="fas fa-database"></i>&nbsp; Minify SQL</a>
            </div>
            <div class="col-sm-6 col-lg-3 border-right mb-4 even">
              <h6>Encoders/Decoders/Encrypters</h6>
              <a class="dropdown-item" href="<%= ENV['URI_ENCODE_URL'] %>"><i class="fas fa-link"></i>&nbsp; URI Encode/Decode</a>
              <a class="dropdown-item" href="<%= ENV['HTML_ENCODE_URL'] %>"><i class="fab fa-html5"></i>&nbsp;&nbsp; HTML Encode/Decode</a>
              <a class="dropdown-item" href="<%= ENV['HEX_ENCODE_URL'] %>"><i class="fab fa-uikit"></i>&nbsp;&nbsp; Hex Encode/Decode</a>
              <a class="dropdown-item" href="<%= ENV['BASE64_ENCODE_URL'] %>"><i class="fas fa-ad"></i>&nbsp; Base64 Encode/Decode</a>
              <a class="dropdown-item" href="<%= ENV['MD5_ENCRYPT_URL'] %>"><i class="fas fa-key"></i>&nbsp; MD5 Encrypt</a>
              <a class="dropdown-item" href="<%= ENV['SHA_ENCRYPT_URL'] %>"><i class="fas fa-key"></i>&nbsp; SHA-1/SHA-256/SHA-384/SHA-512</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-md-auto d-none d-md-flex">
    <li class="nav-item mr-3">
      <% if current_user %>
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-sm mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Profile
          </button>
          <div class="dropdown-menu dropdown-menu-right" id="profile_dropdown_menu" aria-labelledby="dropdownMenuButton">
            <% if current_user.avatar.attached? %>
              <span class="dropdown-item avatar text-center">
                <img width="48" src="<%= polymorphic_url(current_user.avatar) %>" />
              </span>
              <span class="dropdown-item signed-in-as text-center">
                <b>Signed in as <br /><%= current_user.email %></b>
              </span>
            <% else %>
              <span class="dropdown-item signed-in-as text-left">
                <b>Signed in as <br /><%= current_user.email %></b>
              </span>
            <% end %>
            <a class="dropdown-item mt-2" href="<%= user_profile_url %>">My Profile</a>
            <a class="dropdown-item" href="<%= user_shares_url %>">My shares</a>
            <a class="dropdown-item" rel="nofollow" data-method="delete" href="<%= destroy_user_session_url %>">Sign out</a>
          </div>
        </div>
      <% else %>
        <button class="btn btn-primary btn-sm mt-1" data-toggle="modal" data-target="#sign_in_modal">Sign In</button>
      <% end %>
    </li>
    <li class="nav-item current-version">
      <a title="Current version is v1.1" href="<%= ENV['BASE_URL'] %>releases" class="mt-2 badge badge-info">v1.1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://github.com/dinhhientran/code-utility" target="_blank" rel="noopener" aria-label="GitHub"><svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false"><title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg></a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-link px-1 mx-1 py-3 my-n2" href="https://codeutility.slack.com/" target="_blank" rel="noopener" aria-label="Slack"><svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 512" role="img" focusable="false"><title>Slack</title><path fill="currentColor" d="M210.787 234.832l68.31-22.883 22.1 65.977-68.309 22.882z"></path><path fill="currentColor" d="M490.54 185.6C437.7 9.59 361.6-31.34 185.6 21.46S-31.3 150.4 21.46 326.4 150.4 543.3 326.4 490.54 543.34 361.6 490.54 185.6zM401.7 299.8l-33.15 11.05 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.38-68.36 22.92 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.43-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.5-13.92 2.87-29.06 16.78-33.56l33.12-11.03-22.1-65.9-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.48-13.93 2.89-29.07 16.81-33.58l33.15-11.05-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.46 34.38 68.36-22.92-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.47 34.42 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.87 29.06-16.78 33.56L329.7 194.6l22.1 65.9 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.88 29.07-16.81 33.57z"></path></svg></a>
    </li>
  </ul>
</header>