<!DOCTYPE html>
<html>
  <head>
    <title><%= i18n(@page, @tag, 'title') %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= i18n(@page, @tag, 'description') %>">
    <meta name="keywords" content="<%= i18n(@page, @tag, 'keywords') %>">
    <meta name="author" content="Hien Tran">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="<%= current_host_url(@page, @is_tool) %>" />
    <meta property="og:title" content="<%= i18n(@page, @tag, 'title') %>">
    <meta property="og:description" content="<%= i18n(@page, @tag, 'description') %>">
    <meta property="og:image" content="<%= ENV['ASSET_HOST'] %>/thumbnail.png">
    <meta property="og:url" content="<%= current_host_url(@page, @is_tool) %>">
    <meta name="twitter:title" content="<%= i18n(@page, @tag, 'title') %>">
    <meta name="twitter:description" content="<%= i18n(@page, @tag, 'description') %>">
    <meta name="twitter:image" content="<%= ENV['ASSET_HOST'] %>/thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="shortcut icon" type="image/x-icon" href="<%= ENV['BASE_URL'] %>favicon.ico">
    <link rel="preload" href="<%= ENV['ASSET_HOST'] %>/fonts/b4e4280eacbbd2ed88862d648b0b1f2f.woff2" as="font" type="font/woff2" crossorigin>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'dark_theme_stylesheet', 'disabled': @theme == 'light' %>
    <% if @is_tool %>
      <%= stylesheet_link_tag 'light', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'light_theme_stylesheet', 'disabled': @theme == 'dark' %>
    <% end %>
    <%= javascript_packs_with_chunks_tag (javascript_pack_name(@is_tool, @page)), 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_TAG_MANAGER_ID'] %>"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '<%= ENV['GOOGLE_TAG_MANAGER_ID'] %>');
      </script>
    <% end %>
  </head>
  <body>
  <%= include_gon %>
  <%= render "layouts/header" %>
  <main id="<%= @page %>_page" style="visibility: hidden;">
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  </body>
</html>
