<!DOCTYPE html>
<html>
  <head>
    <title>Code Utility</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'light', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'light_theme_stylesheet', 'disabled': @theme == 'dark' %>
    <%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'dark_theme_stylesheet', 'disabled': @theme == 'light' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= include_gon %>
  <%= render "layouts/header" %>
  <main id="<%= !@tool.nil? ? @tool : 'default' %>_page">
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  </body>
</html>
