<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('page.' + (!@page.nil? ? @page : @tool) + '.title') %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= I18n.t('page.' + (!@page.nil? ? @page : @tool) + '.description') %>">
    <meta name="keywords" content="<%= I18n.t('page.' + (!@page.nil? ? @page : @tool) + '.keywords') %>">
    <meta name="author" content="Hien Tran">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="<%= ENV['BASE_URL'] %>favicon.ico">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'light', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'light_theme_stylesheet', 'disabled': @theme == 'dark' %>
    <%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'dark_theme_stylesheet', 'disabled': @theme == 'light' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_TAG_MANAGER_ID'] %>"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '<%= ENV['GOOGLE_TAG_MANAGER_ID'] %>');
      </script>
    <% end %>
  </head>
  <body>
  <%= include_gon %>
  <%= render "layouts/header" %>
  <main id="<%= !@tool.nil? ? @tool : 'default' %>_page" style="visibility: hidden;">
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  </body>
</html>
