<!DOCTYPE html>
<html>
  <head>
    <title>Code Utility</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'light', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'light_theme_stylesheet', 'disabled': @theme == 'dark' %>
    <%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload', 'id': 'dark_theme_stylesheet', 'disabled': @theme == 'light' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
      <svg id="Layer_1" data-name="Layer 1" width="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640.05 526.76"><title>code-solid-2</title><path d="M164.9,399.3l43.5-46.4a12,12,0,0,0-.8-17.2L117,256l90.6-79.7a11.92,11.92,0,0,0,.8-17.2l-43.5-46.4a12,12,0,0,0-17-.5L3.8,247.2a11.92,11.92,0,0,0,0,17.5L147.9,399.8a11.92,11.92,0,0,0,17-.5Zm327.2.6L636.2,264.8a11.92,11.92,0,0,0,0-17.5L492.1,112.1a12.11,12.11,0,0,0-17,.5L431.6,159a12,12,0,0,0,.8,17.2L523,256l-90.6,79.7a11.92,11.92,0,0,0-.8,17.2l43.5,46.4a12,12,0,0,0,17,.6ZM391.44-.37a8.37,8.37,0,0,0-13.63,5.14l-11.5,72.54-43,21.47L289.06,65.06l11.5-72.54a8.4,8.4,0,0,0-11.47-9.07,100.54,100.54,0,0,0-61.61,77.49c-6.13,38.67,11.28,75.62,41.17,97.16l-33,299.84c-3.87,24.38,9.85,47.16,34.23,51s50.19-10.64,54.05-35l33-301.67c35.18-11.13,63.06-40.9,69.23-79.82A100.54,100.54,0,0,0,391.44-.37ZM279,482.64A20.64,20.64,0,1,1,299.64,462,20.65,20.65,0,0,1,279,482.64Z" transform="translate(0.02 17.18)"/></svg>
    </a>
    <div class="navbar-nav-scroll">
      <span>Code Utility</span><br />
      <span class="slogan">Make your developer's life easier!</span>
    </div>

    <div class="collapse navbar-collapse" id="mobile_nav">
      <ul class="navbar-nav navbar-light">
        <li class="nav-item dropdown megamenu-li dmenu">
          <a class="nav-link dropdown-toggle" href="" style="padding: 0;" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg aria-hidden="true" width="35" focusable="false" data-prefix="fal" data-icon="grip-horizontal" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zM264 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zM104 96H24c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96H32v-64h64v64zm328 96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zm-152-96h-80c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96h-64v-64h64v64zm-152-96H24c-13.22 0-24 10.77-24 24v80c0 13.23 10.78 24 24 24h80c13.22 0 24-10.77 24-24v-80c0-13.23-10.78-24-24-24zm-8 96H32v-64h64v64z" class=""></path></svg>
          </a>
          <div class="dropdown-menu megamenu sm-menu border-top" aria-labelledby="dropdown01">
            <div class="row">
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>Code Beautifiers</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-code"></i> Beautify Code</a>
                <a class="dropdown-item" href="#">&nbsp;<i class="far fa-file-code"></i>&nbsp; Beautify JSON</a>
                <a class="dropdown-item" href="#">&nbsp;<i class="fab fa-html5"></i>&nbsp; Beautify HTML</a>
                <a class="dropdown-item" href="#">&nbsp;<i class="fas fa-database"></i>&nbsp; Beautify SQL</a>
                <a class="dropdown-item" href="#">&nbsp;<i class="far fa-minus-square"></i>&nbsp; Minify code</a>
                <a class="dropdown-item" href="#">&nbsp;<i class="fas fa-indent"></i>&nbsp; Align Hash/Array</a>
              </div>
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>Code Converters</h6>
                <a class="dropdown-item" href="#"><i class="fab fa-php"></i> HTML to HAML</a>
                <a class="dropdown-item" href="#"><i class="fas fa-circle"></i> HTML to Slim</a>
                <a class="dropdown-item" href="#"><i class="fab fa-php"></i> Erb to HAML</a>
                <a class="dropdown-item" href="#"><i class="fas fa-circle"></i> Erb to Slim</a>
                <a class="dropdown-item" href="#"><i class="fab fa-laravel"></i> HTML to Jsx</a>
                <a class="dropdown-item" href="#"><i class="fab fa-css3-alt"></i> CSS to SASS</a>
              </div>
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>Code Generators</h6>
                <a class="dropdown-item" href="#"><i class="fab fa-apple"></i> Build String</a>
                <a class="dropdown-item" href="#"><i class="fab fa-android"></i> Build Regex</a>
                <a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Encrypt MD5</a>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4">
                <h6>String Tools</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-cubes"></i> Build String</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cube"></i> Play String</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
          <span>v1.0</span>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://github.com/dinhhientran/code-utility" target="_blank" rel="noopener" aria-label="GitHub"><svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false"><title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://codeutility.slack.com/" target="_blank" rel="noopener" aria-label="Slack"><svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 512" role="img" focusable="false"><title>Slack</title><path fill="currentColor" d="M210.787 234.832l68.31-22.883 22.1 65.977-68.309 22.882z"></path><path fill="currentColor" d="M490.54 185.6C437.7 9.59 361.6-31.34 185.6 21.46S-31.3 150.4 21.46 326.4 150.4 543.3 326.4 490.54 543.34 361.6 490.54 185.6zM401.7 299.8l-33.15 11.05 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.38-68.36 22.92 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.43-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.5-13.92 2.87-29.06 16.78-33.56l33.12-11.03-22.1-65.9-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.48-13.93 2.89-29.07 16.81-33.58l33.15-11.05-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.46 34.38 68.36-22.92-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.47 34.42 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.87 29.06-16.78 33.56L329.7 194.6l22.1 65.9 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.88 29.07-16.81 33.57z"></path></svg></a>
      </li>
    </ul>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
      <ul class="bd-footer-links">
        <li><a href="https://codeutility.io">Home</a></li>
        <li><a href="https://github.com/dinhhientran/code-utility">GitHub</a></li>
        <li><a href="https://codeutility.slack.com/">Slack</a></li>
        <li><a href="https://github.com/dinhhientran/code-utility/issues">Report Issues</a></li>
        <li><a href="https://codeutility.io/about">About</a></li>
      </ul>
      <p>Designed and built with love and passion by the <a href="https://github.com/dinhhientran">@dinhhientran</a> with the help of <a href="https://codeutility.io/contributors"> contributors</a>.</p>
      <p>Currently v1.0. Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
    </div>
  </footer>
  </body>
</html>
